@import url("fonts.css");
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: "Inter";
}

/* Start Header */
.logo-T {
    font-family: "Orelega";
    padding: 0 2rem;
    font-size: 3rem;
    font-weight: 400;
    ;
}

.logo {
    width: 100%;
    color: #000;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-page {
    padding: 10px 20px;
    width: 100%;
    position: relative;
    background-color: #aebe98d5;
    z-index: 3;
}

.header-page::after {
    content: " ";
    width: 100%;
    height: 2px;
    background-color: #52584f;
    position: absolute;
    left: 0;
    bottom: -0.2rem;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    width: 100%;
}

.header-nav_link {
    font-size: 1.2rem;
    color: #000;
    font-weight: 400;
    transition: 0.4s;
}
.logo {
    transition: 0.4s;
    width: 100px;
}
.logo:hover {
    transform: scale(1.1);
}

.header-nav_link:hover {
    transform: scale(1.1);
}

/* End Header */

/* Start Banner */
.head-banner {
    width: 100%;
    height: 100vh;
    background: url('../img/bg-image.jpg') center fixed;
    background-size: cover;
    transform: translateY(-100px);
    z-index: 1;
    box-shadow: 20px 0 35px #52584f;
}

.banner-catalog {
    display: flex;
    align-items: center;
    padding-top: 20rem;
    width: 100%;
}

.banner-form {
    width: 50%;
    padding: 15px 22px;
    background-color: #9aaa94a2;
    border-radius: 10px 10rem 10px 10rem;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    overflow: hidden;
}

.banner-info {
    width: 50%;
    transform: translateY(-5rem);
}

.banner-info_title {
    font-size: 9rem;
    color: #FFF;
    -webkit-text-fill-color: #52584fc0;
    -webkit-text-stroke-width: 1px;
    font-family: sans-serif;
    -webkit-text-size-adjust: 0;
}

#name,
#date,
#message {
    height: 50px;
    width: 500px;
    text-align: center;
    display: block;
    margin-left: 10rem;
    border-radius: 0 10rem 0;
    padding: 10px;
    font-size: 1.3rem;
    color: #30332e;
    margin-bottom: 20px;
}

.button {
    width: 100px;
    height: 50px;
    margin-left: 30rem;
    border-radius: 8px;
    background-color: #30332e;
    color: #FFF;
    font-size: 1.6rem;
    padding: 5px 10px;
    width: 150px;
    border: none;
}

.label {
    color: #FFF;
    font-size: 1.5rem;
    padding-left: 10rem;
    font-weight: 700;
}

.banner-info_text {
    font-size: 2.5rem;
    color: #FFF;
    text-align: center;
}

/* End Banner */

/* Start About */
@media (max-width:1440px) {
    .imgs1 {
        left: 13rem !important;
    }
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    width: 100%;
    flex-wrap: wrap;
    padding: 15px;
}

.container {
    max-width: 1920px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.about {
    width: 100%;
    height: 100vh;
}

.row {
    position: relative;
    width: 50%;
    padding: 15px;
}

.column {
    float: left;
    width: 33.33%;
}

.imgs1,
.imgs2,
.imgs3 {
    width: 100%;
}

.imgs1 {
    position: absolute;
    width: 47%;
    left: 15rem;
    top: 10rem;
    z-index: 3;
    border: 5px solid #FFF;
    border-radius: 100%;
}

.imgs2 {
    position: absolute;
    width: 47%;
    left: 3rem;
    top: 2.4rem;
    border: 2px solid #FFF;
    border-radius: 0 20rem 0;
    box-shadow: 0 -10px 12px #9aaa94;
    z-index: 2;
}

.imgs3 {
    position: absolute;
    width: 48%;
    border-radius: 20rem 0;
    border: 2px solid #FFF;
    right: 0;
    top: 2.4rem;
    z-index: 1;
    box-shadow: 0 15px 13px #9aaa94;
}

.imgs4 {
    position: absolute;
    width: 53%;
    border-radius: 0 20rem;
    border: 2px solid #FFF;
    right: 1rem;
    top: 19rem;
    z-index: 1;
    box-shadow: 0 0 22px #9aaa94;
}

.imgs5 {
    position: absolute;
    width: 48%;
    border-radius: 20rem 0;
    border: 2px solid #FFF;
    left: 3rem;
    top: 18rem;
    z-index: 1;
    box-shadow: 0 0 22px 2px #9aaa94;
}

.box-info {
    transform: translateY(12rem);
    display: block;
    text-align: center;
    width: 50%;
    padding-right: 20px;
    padding-left: 15px;
}

.box-info_gift {
    display: flex;
    text-align: justify;
    font-size: 1.5rem;
    justify-content: center;
}

.gift {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 3rem;
}

.box-info_title {
    font-size: 5rem;
    color: #9aaa94;

}

.box-info_text {
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 600;

}

/* End About style */

/* Start Service  */

.hotel-service {
    width: 100%;
    height: 100vh;
    position: relative;
}

.hotel-service::after {
    position: absolute;
    content: " ";
    width: 50%;
    height: 2px;
    left: 50vh;
    background-color: #30332e;
    top: 5vh;
}

.service-info {
    text-align: center;
    transform: translateY(10vh);
    width: 100%;
}

.service-info_title {
    font-size: 5rem;
    color: #52584f;
}

.img-icon img {
    width: 50%;
    border-radius: 10px;
}

.service-catalog {
    width: 100%;
    padding-top: 20vh;
    display: flex;
    justify-content: center;
    gap: 23px;
}

.service-card {
    width: 350px;
    padding: 20px;
    border: 1px solid #30332e;
    border-radius: 0 30rem 0 0;
    overflow: hidden;
}

.card-info {
    padding-top: 10px;
}

.card-info_title {
    font-size: 1.7rem;
    color: #30332e;
}

.card-info_text {
    font-size: 1.1rem;
    padding-top: 1px;
}

.card-info_span {
    font-weight: 700;
}

/* End Service */

/* Start Buy Rooms */
.responsive-table {
    li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .table-header {
        background-color: #95A5A6;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }

    .table-row {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }

    .col-1 {
        flex-basis: 10%;
    }

    .col-2 {
        flex-basis: 40%;
    }

    .col-3 {
        flex-basis: 25%;
    }

    .col-4 {
        flex-basis: 25%;
    }
}

.rooms-buy {
    width: 100%;
    height: 100vh;
}

.buy-catalog {
    padding: 30px;
    transform: translateY(24vh);
}

.buy-room_title {
    text-align: center;
    transform: translateY(-10vh);
    font-size: 5rem;
}

.buy:hover {
    transform: scale(1.1);
    color: green;
}

/* End Buy Rooms */

/* Start Contact */
.hotel-contact {
    width: 100%;
    height: 100vh;
}

.contact-box {
    padding-top: 20vh;
    padding-left: 50vh;
    
}

.form {
    width: 100%;
    max-width: 820px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-form {
    background-color: #9aaa94a2;
    position: relative;
}

.circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #52584f);
    position: absolute;
}

.circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
}

.circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}

.contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #333;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}

form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.title {
    color: #242424;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}

.input-container {
    position: relative;
    margin: 1rem 0;
}

.input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #292929;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 5px;
    transition: 0.3s;
}

textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 5px;
    resize: none;
    overflow-y: auto;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #131313;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}

.input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
}

.btn {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #52584f;
    line-height: 1;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
    width: 100%;
}

.btn:hover {
    background-color: transparent;
    color: #fff;
}

.input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}

.input-container span:before,
.input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #ffffff;
    top: 50%;
    transform: translateY(-50%);
}

.input-container span:before {
    left: 50%;
}

.input-container span:after {
    right: 50%;
}

.input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
    width: 50%;
    opacity: 1;
}

.contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
}

.contact-info .title {
    color: #30332e;
}

.text {
    color: #333;
    margin: 1.5rem 0 2rem 0;
}

.information {
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
}

.information i {
    color: #9aaa94;
}

.icon {
    width: 28px;
    margin-right: 0.7rem;
}

.social-media {
    padding: 2rem 0 0 0;
}

.social-media p {
    color: #333;
}

.social-icons {
    display: flex;
    margin-top: 0.5rem;
}

.social-icons a {
    width: 105px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #95A5A6, #333);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
}

.social-icons a:hover {
    transform: scale(1.05);
}

.contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #9aaa94;
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
}

.big-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #52584f, #30332e);
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 38%);
}

.big-circle:after {
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: #fafafa;
    border-radius: 50%;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
}

.square {
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: 0.2;
}
.Contact-title {
    font-size: 4rem;
    text-align: center;
    transform: translateX(-20rem);
}
.fa-facebook-f, .fa-instagram {
    border: 1px solid #FFF;
    border-radius: 50%;
    padding: 15px;
    text-align: center;
}
/* End Contact */

/* Start Footer */
.footer {
    width: 100%;
    height: 50vh;
    background-color: #292929;
    
}
.footer_title {
    font-size: 4.5rem;
    font-family: "Inter", sans-serif;
    color: #fafafa;
    text-align: center;
    transform: translateY(10px);
    position: relative;
}
.footer_title::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #f8f8f8;
    bottom: 0;
    left: 0;
    transform: translateY(5px);
    animation-name: afterA;
    animation-duration: 1s;
    animation-iteration-count: 1;

}
@keyframes afterA {
    0% {
        width: 0;
        opacity: 0.1;
        
    }
    50% {
        width: 50%;
        opacity: 0.5;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}
.footer-nav {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    row-gap: 13px;
    width: 25%;
    padding-left: 10rem;
}
.footer-nav_link {
    font-size: 1.1rem;
    color: #FFF;
    transition: 0.5s;
    position: relative;
}
.footer-nav_link::after {
    content: " ";
    position: absolute;
    width: 5%;
    height: 2px;
    background-color: #f8f8f8;
    top: 10px;
    left: -20px;
    transform: scale(1.1);
    display: none;
}
.footer-nav_link:hover.footer-nav_link::after{
    transform:scale(1.1);
    display: block;
}
/* End Footer */

